body {
    background-color: white;
    font-family: sans-serif;
    --theme-color: rgb(62, 59, 105);
    --theme-border-radius: 0px;
}

#layout {
    color: var(--theme-color);
    position: absolute;
    bottom: 10px;
    top: 10px;
    right: 10px;
    left: 10px;
    border-radius: var(--theme-border-radius);
    background-color: var(--theme-color);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

#header {
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}

#main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "form analysis" 
        "form sliders";
    width: 100%;
    height: 100%;
}

#form-board, #analysis-board, #sliders-board {
    margin: 5px 5px;
    background-color: white;
    border-radius: var(--theme-border-radius);
    box-shadow: 0 10px 20px rgba(136, 24, 24, 0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#form-board {
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

#analysis-board { 
    grid-area: analysis;
}

/* #tab-master {
    background-color: turquoise;
} */

/* #tab-1-container, #tab-2-container {
    background-color: yellow;
} */

/* #tab-1-content, #tab-2-content {
    background-color: tomato;
} */

/* #image-upload {
    text-align: center;
    height: 100%;
    width: 100%;
} */

/* #my-graph, #graph-dataset {
    background-color: violet;
} */

#sliders-board {
    grid-area: sliders;

    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "thetaL thetaS" 
        "phiL phiS";
    /* width: 100%;
    height: 100%; */
    /* justify-items: center; */
    align-items: center;
}

#phi-slider, #theta-slider, #label-phi-slider, #label-theta-slider {
    display: grid;
}

#phi-slider {
    grid-area: phiS;
}

#theta-slider {
    grid-area: thetaS;
}

#label-phi-slider {
    grid-area: phiL;
}

#label-theta-slider {
    grid-area: thetaL;
}

#phi-slider, #theta-slider {
    justify-items: left;
}

#label-phi-slider, #label-theta-slider {
    justify-items: right;
}



/* #label-container {
    width: 50px;
    margin-right: 10px;
    padding-right: 20px;
} */

/* #label-container, #slider-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: lawngreen;
    margin-right: 0px;
    padding: 0px;
} */

/* #label-phi-slider, #label-theta-slider {
    text-align: right;
    margin-right: 0px;
    padding: 0px;
} */

/* #phi-slider, #theta-slider {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    background-color: magenta;
    margin-right: 0px;
    padding: 0px;
} */

#upload-image {
    margin: 10px 5px;
    border: 1px dashed var(--theme-color);
    border-radius: var(--theme-border-radius);
    text-align: center;
    line-height: 1.5em;
    padding: 30px 5px;
}

#downscale-container {
    margin: 10px 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

#label-downscaler {
    display: inline-block;
    text-align: center;
}

#select-dropdown {
    margin: 0px 5px;
    border-radius: var(--theme-border-radius);
}

#button-predict {
    margin: 15px 5px;
    padding: 5px 0px;
    color: var(--theme-color);
    border: 2px solid var(--theme-color);
    border-radius: var(--theme-border-radius);
    font-weight: 700;
    font-size: 1.0em;
    text-transform: capitalize;
}

#button-predict:hover {
    background-color: var(--theme-color);
    color: white;
}